<ion-content>

  <app-slideshow-backdrop [peliculasRecientes]="peliculasRecientes"></app-slideshow-backdrop>

  <app-slideshow-poster [peliculasRecientes]="peliculasRecientes"></app-slideshow-poster>

  <app-slideshow-pares [peliculasRecientes]="populares" (cargarMas)="cargarMas()"></app-slideshow-pares>

  <!-- <swiper-container [Options]="slideOpts">
    <swiper-slide *ngFor="let pelicula of peliculasRecientes">
      <ion-card>
        <img [src]="pelicula.backdrop_path | image"/>
      </ion-card>
    </swiper-slide>
  </swiper-container> -->

</ion-content>
